body .card-body label{
  font-size: 18px !important;
}
body .card-body p{
  font-size: 18px !important;
}
.image_wrapper{
  position: relative;
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
  border: 2px solid pink;
}
.image_wrapper:hover{
  cursor: pointer;
}

.image_wrapper:hover .product-pic{
  opacity: .3;
}
.image_wrapper .product-pic{
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}
.image_wrapper .product-pic:before{
  /*background-image: url('../../image/user_icon.jpg');
  display: inline-block;*/
  content: url('../../image/default.png');
  top: 0;
    left: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  text-align: center;
}
.image_wrapper .upload-button{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image_wrapper .upload-button .fa-arrow-circle-up{
  position: absolute;
  font-size: 150px;
  top: 26px;
  left: 25px;
  text-align: center;
  opacity: 0;
  transition: all .3s ease;
  color: #34495e;
}
.image_wrapper .upload-button:hover .fa-arrow-circle-up{
  opacity: 0.9;
}

.imagePreview{
  width: 100%;
  height: 180px;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px #ccc;
  overflow: hidden;
}
#btn-upload{
  display: block;
  border-radius: 0;
  margin-top: -5px;
}
#btn-upload input{
  display: none;
}
.imgAdd{
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  background-color: #4bd7ef;
  color: #fff;
  box-shadow: 0 0 2px 1px #cccccc;
  text-align: center;
  line-height: 30px;
  margin-top: 0;
  cursor: pointer;
  font-size: 15px !important;
}
.del{
  position: absolute;
  top: 0;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #ccc;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}